<div class="individual-movie-container">
    <a href="@movieURL">
        <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
    </a>
    <p><a href="@movieURL">@Movie.TitleBrief</a></p>
    <div>
        <a class="btn btn-info" href="/movies/edit/@Movie.Id">Edit</a>
        <button type="button" class="btn btn-danger"
                @onclick="@(() => DeleteMovie.InvokeAsync(Movie))">
            Delete
        </button>
    </div>
</div>


@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }
    private string movieURL = string.Empty;

    protected override void OnInitialized()
    {
        movieURL = $"movie/{Movie.Id}/{Movie.Title.Replace(" ", "-")}";
    }
}
